.App {
 margin: 0;
 padding: 0;


}

body {

  background-size: 100% 100%;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  font-family: 'Arvo', serif;
}


h1 {
  text-align: center;
  color: purple;
}

.avatar {
  margin-top: 20px;
  /* margin-right: 10px; */
  margin-bottom: 30px;
  text-align: center;
}

.avatar span {
  margin-right: 5px;
}

.foto {
  border-radius:32px;
  background-color:#CCC;
  padding: 5px;
  width: 32px;
  height: 32px;
}

.title {
  scroll-margin-bottom: 30px;
}

.title span {
  color:#d5dbd9;
}
.avatar::after {
    content: '';
    margin-left: 8px;
    display: inline-block;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }

  .option {
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #cbe6e1;
    background-color: #e5eaf2;
    padding: 0;
    margin-left: 5px;
    width: 150px;
    padding: 15px;
    align-items: center;
  }

  .option:first-child {
    margin-left: 20px;
  } 
  
  .icon {
    margin-right: 10px;
    margin-bottom: 6px;
  }

  .second-column {
    padding-top: 30px;
    margin-left: 30px;
  }

  .principal {
    background-color: #ffffff;
    border: 1px solid #cbe6e1;
    margin-bottom: 50px;
  }

  
  .first-column {
    padding-top: 30px;
  }
  .second-column h6 {
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #cbe6e1;
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
    align-items: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */

  }

  .canais {
    border: solid 1px #cbe6e1;
    border-radius: 5px;
    margin-bottom: 45px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .last {
    margin-top: 10px;
  }
  .button {
    font-family: "Arvo", serif;
    font-weight: 600;
    color: #fff;
    background-color: #563062;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13px;
    font-size: 0.8125rem;
  }

  .publish-button {
    text-align: center;
  }
  
  .first-button-zone {
    text-align: center;
   
  }
  .obs {
    font-size: 0.625rem;
  }

  .drop-button {
    background-color: #9d9e9f  ;
  }

  .save-button {
      background-color: #54bbab ;
  }

  .second-button-zone {
    text-align: end;
   
  }